<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.betahax.recipease" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.betahax.recipease.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.betahax.recipease.QuestionTree"
            android:label="@string/title_activity_question_tree"
            android:parentActivityName="com.betahax.recipease.HomeActivity" >
            <meta-data
                android:name="android.support.HomeActivity"
                android:value="com.betahax.recipease.QuestionTree" />
        </activity>
        <activity
            android:name="com.betahax.recipease.Selector"
            android:label="@string/title_activity_selector"
            android:parentActivityName="com.betahax.recipease.HomeActivity" >
            <meta-data
                android:name="android.support.HomeActivity"
                android:value="com.betahax.recipease.Selector" />
        </activity>
        <activity
            android:name="com.betahax.recipease.GroceryList"
            android:label="@string/title_activity_grocery_list" >
        </activity>
        <activity
            android:name="com.betahax.recipease.InfoActivity"
            android:label="@string/title_activity_info"
            android:parentActivityName="com.betahax.recipease.Selector" >
            <meta-data
                android:name="android.support.Selector"
                android:value="com.betahax.recipease.InfoActivity" />>
        </activity>
        <activity
            android:name="com.betahax.recipease.RecipeBook"
            android:label="@string/title_activity_recipe_book"
            android:parentActivityName="com.betahax.recipease.HomeActivity" >
            <meta-data
                android:name="android.support.HomeActivity"
                android:value="com.betahax.recipease.RecipeBook" />
        </activity>

    </application>

</manifest>
